---
import Section from '@/Section.astro'

---

<Section id="acerca-de">
    <h2>Acerca de Nosotros</h2>
    <h3>Visión</h3>
    <p>Nuestra visión es ser el aliado digital de cada emprendedor y empresa, proporcionando soluciones innovadoras y accesibles que impulsen su éxito en el mundo en línea.</p>
    <h3>Misión</h3>
    <p>Nuestra misión es ofrecer herramientas y servicios digitales integrales, diseñados a medida para satisfacer las necesidades específicas de cada cliente. Nos comprometemos a brindar una atención personalizada y continua, impulsando la presencia en línea de nuestros clientes y construyendo relaciones sólidas basadas en la confianza y el éxito compartido.</p>
    <p>Conoce más sobre nosotros y nuestro compromiso con la excelencia en el mundo digital.</p>
</Section>