---
import Navigate from './Navigate.astro';

---
<header>
    <h1>ยก PrometeoDigital !</h1>
    <Navigate/>
</header>

<style>
    header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff; 
    text-align: center;
    padding: 20px;
    
}
    h1 {
        color: #fff;
    }
</style>