---
import Section from '@/Section.astro'
---

<Section id="inicio">
    <h2>Soluciones Web Integrales para tu Negocio</h2>
    <p>¡Bienvenido a PrometeoDigital! Descubre cómo podemos ayudarte a mejorar tu presencia en línea y hacer crecer tu negocio.</p>
</Section>