---
import Section from '@/Section.astro'

---

<Section id="servicios">
    <h2>Nuestros Servicios</h2>
    <p>En PrometeoDigital nos especializamos en ofrecerte soluciones web adaptadas a tus necesidades. Desde el diseño de tu sitio web hasta la implementación de estrategias de marketing digital, estamos aquí para ayudarte a alcanzar tus objetivos en línea.</p>
    <p>Nuestro enfoque se centra en comprender tu negocio y brindarte soluciones prácticas y efectivas que generen resultados tangibles. Trabajamos contigo en cada paso del proceso para garantizar que tu presencia en línea refleje la esencia de tu marca y atraiga a tu audiencia objetivo.</p>
</Section>