---
import Layout from '@/layouts/Layout.astro';
import Card from'@/components/Card/index.astro';
import Login from '@/components/Login/index.astro';
import Nav from '@/components/Nav/index.astro';
---

<Layout title="PrometeoDigital">
	<header>
		<h1>Prometeo Digital</h1>
		<Nav/>
	</header>
	<main>
		<Card title='Bienvenido' footer='Trabajemos juntos'>
			<Login />
		</Card>
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 768px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	header {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		text-align: center;
	}

</style>
