---
import About from '@/sections/About.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Services from '@/sections/Services.astro';
import Contact from '@/sections/Contact.astro';

---

<Layout title="PrometeoDigital">
	<main>
		<Hero/>
		<About/>
		<Services/>
		<Contact/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
