---
interface Props {
	title: string;
}

import Nav from "@/components/Nav/index.astro";
//import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props;
---

<!doctype html >
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="PrometeoDigital ofrece soluciones web integrales para tu negocio. Descubre nuestros servicios y mejora tu presencia en línea.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="generator" content="{Astro.generator}">
		<title>{title}</title>
        <!-- <ViewTransitions />-->
        
        
	</head>
    <header>
            <Nav />
    </header>
	<body>
        <div id="container">
            <slot />
        </div>
	</body>
    <footer>
        <small>Todos los derechos reservados &copy; 2024 PrometeoDigital.com</small>
    </footer>
</html>
<style is:global>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-family: 'Share Tech', sans-serif;
    color: white;
    background-color: #343a40;
    background-image: url("/images/back.svg"),linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000);
}
</style>

<style>
    #container {
        display: flex;
        place-content: center;
		place-items: center;
    }
    
    footer {
        height: 12px;
        background-color: transparent;
        color: white;
        text-align: center;
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        /* Estilos para pantallas pequeñas aquí */
        #container {
        flex-direction: column;
        text-align: center; 
        place-content: center;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1025px) {
        /* Estilos para pantallas medianas aquí */
		#container {
        flex-direction: column;
        text-align: center; 
        place-content: center;
        }
	}
</style>
