---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="PrometeoDigital ofrece soluciones web integrales para tu negocio. Descubre nuestros servicios y mejora tu presencia en línea.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="generator" content="{Astro.generator}">
		<title>{title}</title>
	</head>
	<body>
        <div class="container">
            <slot />
        </div>
            <footer>
                <small>Todos los derechos reservados &copy; 2024 PrometeoDigital.com</small>
            </footer>
	</body>
</html>
<style is:global>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-family: 'Share Tech', sans-serif;
    color: white;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, #343a40, #2b2c31, #211f22, #151314, #000000);
}
</style>

<style>
    .container {
        display: flex;
        place-content: center;
		place-items: center;
    }
    
    footer {
        height: 12px;
        background-color: transparent;
        color: white;
        text-align: center;
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        /* Estilos para pantallas pequeñas aquí */
        .container {
        flex-direction: column;
        text-align: center; 
        place-content: center;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1025px) {
        /* Estilos para pantallas medianas aquí */
		.container {
        flex-direction: column;
        text-align: center; 
        place-content: center;
        }
	}
</style>